
#image{
  width: 150px;
  height: 150px;
}

h2{
  color: #4aaaa5;
  text-align: left;
}

h6.format_comparison{
  text-align: center;
}

img.align-center{
  display: block;
  margin: 0px auto;
}

table{
  text-align: center;
  border-bottom: 1px solid #ddd
}

tr:nth-child(even) {background-color: #f2f2f2;}